body {
  margin: 0;
  font-family: Arial;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside article"
    "footer footer";
  grid-template-columns: 25% 75%;
  grid-template-rows: auto 1fr auto;
  height: 50%;
  width: 50%;
  background-color: #b3eaf4;
  justify-self: center;
  margin-top: 10px;
}

.header {
  grid-area: header;
  background-color: #00bdbd;
  text-align: center;
  padding: 20px;
  color: white;
}

.footer {
  grid-area: footer;
  background-color: #00bdbd;
  text-align: center;
  padding: 20px;
  color: white;
}

.aside {
  grid-area: aside;
  background-color: lightgreen;
  padding: 20px;
  color: white;
  text-align: center;
}

.article {
  grid-area: article;
  background-color: orange;
  padding: 20px;
  color: white;
  text-align: center;
}

.area-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.area-img {
  background-color: gold;
  padding: 30px 0;
}
